<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DotNetCopy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <!--add name="FileLog"/-->
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <add name="EventLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <!--add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/-->
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="DotNetCopy"/> 
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <DotNetCopy.My.MySettings>
            <setting name="Option_NeverOverwriteFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Option_OnlyOverwriteIfOlder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Option_EnableBackupHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Option_HistoryLevels" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Option_OnCopyErrorContinue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Option_CopySystemFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Option_CopyHiddenFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Option_CopyFoldersRecursive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frmMain_LastPosition" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="frmMain_LastSize" serializeAs="String">
                <value>620, 460</value>
            </setting>
            <setting name="Option_AutoSaveProtocol" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Option_BackupInHiddenFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Option_AutoSaveProtocolPath" serializeAs="String">
                <value/>
            </setting>
        </DotNetCopy.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
