<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdoDemoSetup.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdoDemoSetup.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <AdoDemoSetup.My.MySettings>
            <setting name="HeckTickConnectionString" serializeAs="String">
                <value />
            </setting>
        </AdoDemoSetup.My.MySettings>
    </userSettings>
    <applicationSettings>
        <AdoDemoSetup.My.MySettings>
            <setting name="HeckTickDBCreationCommandText" serializeAs="String">
                <value>/****** Object:  Table [dbo].[Berater]    Script Date: 03/04/2006 16:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Berater]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Berater](
	[IDBerater] [int] IDENTITY(1,1) NOT NULL,
	[Nachname] [nvarchar](255) NOT NULL,
	[Vorname] [nvarchar](255) NOT NULL,
	[Straße] [nvarchar](255) NOT NULL,
	[Plz] [nvarchar](50) NOT NULL,
	[Ort] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Berater] PRIMARY KEY CLUSTERED 
(
	[IDBerater] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Projekte]    Script Date: 03/04/2006 16:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Projekte]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Projekte](
	[IDProjekte] [int] IDENTITY(1,1) NOT NULL,
	[Projektname] [nvarchar](50) NOT NULL,
	[Projektbeschreibung] [nvarchar](2000) NULL,
	[Startzeitpunkt] [datetime] NOT NULL,
	[Endzeitpunkt] [datetime] NOT NULL,
	[Ausführungsort] [nvarchar](255) NULL,
 CONSTRAINT [PK_Projekte] PRIMARY KEY CLUSTERED 
(
	[IDProjekte] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Zeiten]    Script Date: 03/04/2006 16:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Zeiten]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Zeiten](
	[IDZeiten] [int] IDENTITY(1,1) NOT NULL,
	[IDProjekt] [int] NOT NULL,
	[IDBerater] [int] NOT NULL,
	[Startzeit] [datetime] NOT NULL,
	[Endzeit] [datetime] NOT NULL,
	[ArbBeschreibung] [nvarchar](2000) NULL,
 CONSTRAINT [PK_Zeiten] PRIMARY KEY CLUSTERED 
(
	[IDZeiten] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Zeiten_Berater]') AND parent_object_id = OBJECT_ID(N'[dbo].[Zeiten]'))
ALTER TABLE [dbo].[Zeiten]  WITH CHECK ADD  CONSTRAINT [FK_Zeiten_Berater] FOREIGN KEY([IDBerater])
REFERENCES [dbo].[Berater] ([IDBerater])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Zeiten_Projekte]') AND parent_object_id = OBJECT_ID(N'[dbo].[Zeiten]'))
ALTER TABLE [dbo].[Zeiten]  WITH CHECK ADD  CONSTRAINT [FK_Zeiten_Projekte] FOREIGN KEY([IDProjekt])
REFERENCES [dbo].[Projekte] ([IDProjekte])

</value>
            </setting>
        </AdoDemoSetup.My.MySettings>
    </applicationSettings>
</configuration>
